h4{
    font-size: 16px;
    color: crimson;
    font-family: sans-serif;
}
.speech{
    font-size: 15px;
    color: black;
}
.direction{
    font-size: 11px;
    color: black;
    font-family: cursive;
    background-color: lightgray;
}
.direction:hover{
    background-color:blueviolet;
    color:bisque;
}
.REGINA{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:purple;
    text-align: left;
}
.ENGSTRAND{
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:peru;
    text-align: left; 
}
.MANDERS{
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:brown;
    text-align: left; 
}
.MRS.ALVING{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:olive;
    text-align: left; 
}
.OSWALD{
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:blueviolet;
    text-align: left; 
}
table,
th,
td{
    border-color: goldenrod;
    color: pink;
    text-align:center;
    border-style: double;
    margin: 15px 19px 15px 9px;
}
th,
td{
    padding: 19px;
}
tr:nth-child(even){
    background-color:lightcoral;
}
tr:nth-child(old){
    background-color:lightpink;
}


